*.pyc
.ipynb_checkpoints
lib/build
lib/pycocotools/_mask.c
lib/pycocotools/_mask.so

nohup.out
out.txt
/output/
/data/cache/
/data/demo/
/data/sign_2017/
/data/imagenet_models/
/data/faster_rcnn_models/
/experiments/logs

